/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.
    Test case senario: 3 samples in total, 2 samples of WES, tumor+germline, 1 sample of WGS_lr; multi lanes; fasta reference is being pulled.

    Use as follows:
        nextflow run main.nf -profile test_tiny,<docker/singularity>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h',
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'
    input                      = "${projectDir}/tests/data/test-datasets_tiny/samplesheet.example.csv"
    outdir                     = "${projectDir}/tests/results"
    fasta                      = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/genome/genome.fasta"
    target                     = "${projectDir}/tests/data/test-datasets_tiny/files/donor_001/target.bed"
}

process {
    withName: MOSDEPTH {
        cpus   = 2
        memory = 4.GB
        time   = 2.h
    }
    withName: BWAMEM2_MEM {
        cpus   = 2
        memory = 4.GB
        time   = 2.h
    }
    withName: BWAMEM2_INDEX {
        cpus   = 2
        memory = 4.GB
        time   = 2.h
    }
}
